In [1]:
import pandas as pd

In [33]:
df = pd.read_csv("Data/Climate Data.csv")
df.head(1)

,STATION,NAME,DATE,PRCP,SNOW,TMAX,TMIN,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT09
0,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-01-01,0.66,0.0,41.0,35.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# remove flag columns
df = df.iloc[:,:7]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1447 entries, 0 to 1446
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  1447 non-null   object
 1   NAME     1447 non-null   object
 2   DATE     1447 non-null   object
 3   PRCP     1446 non-null   float64
 4   SNOW     1445 non-null   float64
 5   TMAX     1446 non-null   float64
 6   TMIN     1446 non-null   float64
dtypes: float64(4), object(3)
memory usage: 79.3+ KB

In [36]:
#check nulls
df[df.isnull().any(axis=1)]

,STATION,NAME,DATE,PRCP,SNOW,TMAX,TMIN
1435,USW00014732,"LAGUARDIA AIRPORT, NY US",2024-12-06,0.0,NaN,36.0,31.0
1446,USW00014732,"LAGUARDIA AIRPORT, NY US",2024-12-17,NaN,NaN,NaN,NaN

In [37]:
# Since they are recent timestamps, lets not include dec 2024 (Today is 12/26/2024)
df['DATE'] =  pd.to_datetime(df['DATE'])
df = df[df['DATE'] < '2024-12-01']
df['DATE'].max()

Timestamp('2024-11-30 00:00:00')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1430 entries, 0 to 1429
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  1430 non-null   object
 1   NAME     1430 non-null   object
 2   DATE     1430 non-null   datetime64[ns]
 3   PRCP     1430 non-null   float64
 4   SNOW     1430 non-null   float64
 5   TMAX     1430 non-null   float64
 6   TMIN     1430 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 89.4+ KB

In [40]:
df = df.iloc[:,2:]

In [41]:
df.to_csv('climatedata.csv', index=False)