In [36]:
from geopy.geocoders import Nominatim
import pandas as pd
import time

In [68]:
df = pd.read_csv("/Users/westonshuken/Documents/_2025/CitiBike/monthly_rides_by_station_2022_2023.csv")
df = df.reset_index(drop=True)
df.head()

   end_station_name    ended_at  ride_id  end_lng    end_lat
0  1 Ave & E 110 St  2022-08-01       48 -73.9383  40.792327
1  1 Ave & E 110 St  2022-08-02       69 -73.9383  40.792327
2  1 Ave & E 110 St  2022-08-03       70 -73.9383  40.792327
3  1 Ave & E 110 St  2022-08-04       70 -73.9383  40.792327
4  1 Ave & E 110 St  2022-08-05       78 -73.9383  40.792327

In [70]:
selected_columns = ['end_station_name', 'end_lng', 'end_lat']
df['end_lng'] = df['end_lng'].round(4)
df['end_lat'] = df['end_lat'].round(4)
df[selected_columns] = df[selected_columns].astype(str)

df = df[selected_columns].drop_duplicates().reset_index(drop=True)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494 entries, 0 to 2493
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   end_station_name  2494 non-null   object
 1   end_lng           2494 non-null   object
 2   end_lat           2494 non-null   object
dtypes: object(3)
memory usage: 58.6+ KB

In [104]:
# Initialize Nominatim API
geolocator = Nominatim(user_agent="WestonBikeAPP")

# Input latitude and longitude
latitude = 40.6826456
longitude = -73.9805666

# Reverse geocoding
location = geolocator.reverse((latitude, longitude))

In [105]:
location.raw['address'].get('county')

'Kings County'

In [33]:
zip_code = location.raw['address'].get('postcode', 'ZIP code not found')
zip_code

'11101'

In [73]:
def get_zip_code(lat, lon):
    tick = 1
    try:
        location = geolocator.reverse((lat, lon))
        if location.address != None:
            time.sleep(1.1)
            return location.raw['address'].get('postcode', 'ZIP code not found')
        return 'n/a'
    except Exception as e:
        return f"Error: {e}"

In [74]:
df['ZIP Code'] = df.apply(lambda row: get_zip_code(row['end_lat'], row['end_lng']), axis=1)

# Display the dataframe
df.head()

    end_station_name   end_lng  end_lat ZIP Code
0   1 Ave & E 110 St  -73.9383  40.7923    10029
1    1 Ave & E 18 St  -73.9805  40.7338    10009
2    1 Ave & E 30 St  -73.9754  40.7414    10016
3  10 Ave & W 202 St  -73.9214  40.8613    10034
4  10 Ave & W 204 St  -73.9201  40.8626    10034

In [76]:
df.to_csv('stationzipdata.csv', index=False)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494 entries, 0 to 2493
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   end_station_name  2494 non-null   object
 1   end_lng           2494 non-null   object
 2   end_lat           2494 non-null   object
 3   ZIP Code          2494 non-null   object
dtypes: object(4)
memory usage: 78.1+ KB

In [87]:
df[df['end_station_name'].str.contains('Carlton', na=False)]

                end_station_name   end_lng  end_lat ZIP Code
730        Carlton Ave & Dean St   -73.971   40.681    11238
1065      Carlton Ave & Park Ave  -73.9736  40.6958    11205
1538  Carlton Ave & Flushing Ave  -73.9737  40.6978    11238
1658  Carlton Ave & St Marks Ave  -73.9718  40.6791    11238
2415     Bergen St & Carlton Ave  -73.9712  40.6801    11238
2448     Bergen St & Carlton Ave    -73.97    40.68    11238
2449     Bergen St & Carlton Ave  -73.9701    40.68    11238

In [91]:
test_df = df[['end_station_name', 'ZIP Code']].drop_duplicates()

In [92]:
test_df[test_df['end_station_name'].str.contains('Carlton', na=False)]

                end_station_name ZIP Code
730        Carlton Ave & Dean St    11238
1065      Carlton Ave & Park Ave    11205
1538  Carlton Ave & Flushing Ave    11238
1658  Carlton Ave & St Marks Ave    11238
2415     Bergen St & Carlton Ave    11238

In [93]:
test_df['ZIP Code'].nunique()

140